---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_18OT2BI8HOATFuBIjtEWcUjT&email=josh%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_goNOUrBVj5ycZbZXqHZCeKOH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Mon, 20 Jun 2016 14:05:55 GMT
recorded_with: VCR 2.9.3
