---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_18NIThI8HOATFuBInVVtdvJS&currency=usd&description=Sign+up+charge+for+josh%40example.com
    headers:
      Authorization:
      - Bearer sk_test_goNOUrBVj5ycZbZXqHZCeKOH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_18NITiI8HOATFuBI4HfXkhdY"
          }
        }
  recorded_at: Fri, 17 Jun 2016 08:37:27 GMT
recorded_with: VCR 2.9.3
