---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_18OSlmI8HOATFuBI5Ah3B1Wm&email=josh%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_goNOUrBVj5ycZbZXqHZCeKOH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8foOk3eCtN0RYH",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1466430539,
          "currency": "usd",
          "default_source": "card_18OSlmI8HOATFuBIarpmtFDp",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "josh@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18OSlmI8HOATFuBIarpmtFDp",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8foOk3eCtN0RYH",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "MQzk2nWyClMfPHmj",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8foOk3eCtN0RYH/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8foOcFG425OLW0",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1466430539,
                "current_period_end": 1469022539,
                "current_period_start": 1466430539,
                "customer": "cus_8foOk3eCtN0RYH",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1466427110,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "the base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1466430539,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8foOk3eCtN0RYH/subscriptions"
          }
        }
  recorded_at: Mon, 20 Jun 2016 13:48:59 GMT
recorded_with: VCR 2.9.3
