---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_18PoT0I8HOATFuBIXGI7Q76L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_goNOUrBVj5ycZbZXqHZCeKOH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_18PoT0I8HOATFuBIXGI7Q76L",
          "object": "event",
          "api_version": "2016-03-07",
          "created": 1466752266,
          "data": {
            "object": {
              "id": "ch_18PoSzI8HOATFuBIbvJafHBU",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_18PoT0I8HOATFuBIZ2lJKVON",
              "captured": true,
              "created": 1466752265,
              "currency": "usd",
              "customer": "cus_8hCseAkppE3JFe",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_18PoSzI8HOATFuBIVh0pSzs0",
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_18PoSzI8HOATFuBIbvJafHBU/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_18PoSwI8HOATFuBIDiJ7SNhW",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8hCseAkppE3JFe",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2019,
                "fingerprint": "MQzk2nWyClMfPHmj",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_8hCsL0FMpklISY",
          "type": "charge.succeeded"
        }
  recorded_at: Fri, 24 Jun 2016 11:43:18 GMT
recorded_with: VCR 2.9.3
