---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=6&card[exp_year]=2018&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_goNOUrBVj5ycZbZXqHZCeKOH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18NGi1I8HOATFuBIxkBsyKtT",
          "object": "token",
          "card": {
            "id": "card_18NGi1I8HOATFuBILa42i1Id",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "Ky0lcGi2GDuhh57B",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "167.160.116.166",
          "created": 1466145845,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 17 Jun 2016 06:44:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_18NGi1I8HOATFuBIxkBsyKtT&currency=usd&description=an+invalid+charge
    headers:
      Authorization:
      - Bearer sk_test_goNOUrBVj5ycZbZXqHZCeKOH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_18NGi3I8HOATFuBIC1CwKeDc"
          }
        }
  recorded_at: Fri, 17 Jun 2016 06:44:07 GMT
recorded_with: VCR 2.9.3
