---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15HkDlAqLMYq45GOu2R5r8Yl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_goNOUrBVj5ycZbZXqHZCeKOH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such event: evt_15HkDlAqLMYq45GOu2R5r8Yl",
            "param": "id"
          }
        }
  recorded_at: Fri, 24 Jun 2016 10:24:22 GMT
recorded_with: VCR 2.9.3
