---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=6&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_goNOUrBVj5ycZbZXqHZCeKOH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18PpNFI8HOATFuBIoI166JF7",
          "object": "token",
          "card": {
            "id": "card_18PpNFI8HOATFuBIEJd7O5to",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "MQzk2nWyClMfPHmj",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "104.237.91.238",
          "created": 1466755753,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 24 Jun 2016 08:09:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_18PpNFI8HOATFuBIoI166JF7&email=jalyn_sauer%40stehrkrajcik.name&plan=base
    headers:
      Authorization:
      - Bearer sk_test_goNOUrBVj5ycZbZXqHZCeKOH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8hDoYK4JePyLYq",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1466755755,
          "currency": "usd",
          "default_source": "card_18PpNFI8HOATFuBIEJd7O5to",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "jalyn_sauer@stehrkrajcik.name",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18PpNFI8HOATFuBIEJd7O5to",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8hDoYK4JePyLYq",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "MQzk2nWyClMfPHmj",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8hDoYK4JePyLYq/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8hDoJy4PUGXeqC",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1466755755,
                "current_period_end": 1469347755,
                "current_period_start": 1466755755,
                "customer": "cus_8hDoYK4JePyLYq",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1466427110,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "the base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1466755755,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8hDoYK4JePyLYq/subscriptions"
          }
        }
  recorded_at: Fri, 24 Jun 2016 08:09:15 GMT
recorded_with: VCR 2.9.3
